@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Adamina&display=swap');

body{ 
    background-color: var(--mediumbrown);
    overflow: hidden;
}
.main-content{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: var(--lightbrown);
    border-radius: 25px;
    border: 1vh solid var(--darkergreen);
    width: 80%;
    
}
.header_main-content{
    flex-flow: row;
    margin: 2rem 4rem;
    text-decoration: none;
}
.header_main-content a{
    padding-right: 2vw;
    text-decoration: none;
}
.color-palette {
    display: flex;
    flex-direction: row;
    position: absolute;
    transform: translate(-50%, -50%);
    right: 0.02%;
    top: 10%;
    gap: 2.3vw; 
    align-items: center;
}

.circle {
    flex-flow: row;
    width: 1.5vw; 
    height: 3vh; 
    border-radius: 50%; 
    flex-shrink: 1;
}
.light {
    background-color: var(--othergreen); 
}

.dark {
    background-color: var(--darkgreen); 
}

.darker {
    background-color: var(--darkbrown) ; 
}
.main-container{
    max-width: 100%;
    display: flex;
    flex-flow: row;
    border-top:1vh solid var(--darkergreen);
    
}
.text_about-me{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:3rem 0 3rem 12rem;
    width:25vw;
    height:55vh;
    border-radius: 1.5rem;
    background-color: var(--darkergreen);
    text-align: center;
    color:var(--semiwhite);
    font-style: normal;
    
}
.text_about-me h1{
    margin-top: 35px;
    font-family: "Aboreto", system-ui;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
    letter-spacing: 0.5px;
}
.text_about-me p{
    font-family: "Adamina", serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.3rem; 
    letter-spacing: 0.02rem;
    margin: 1.1rem 0.8rem 0 0.8rem
}
.text_about-me img{
    position: absolute;
    right: 10rem;
    top: 10.35rem;
    width: 25%;
    height: 55%;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border:6px solid var(--darkergreen);

}
