:root{
    --semiwhite:#F5F5F5;
    --lightgreen: #8EBC73;
    --othergreen:#7E902B;
    --mediumgreen: #506736;
    --darkgreen:#3E4718;
    --darkergreen:#202306;
    --lightbrown:#C4C287;
    --mediumbrown:#694813;
    --darkbrown:#523E09;
}